/vendor
/node_modules

.env
.env.*

/storage/*.key

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/bootstrap/cache/*

.idea
.vscode

Thumbs.db
.DS_Store